* {
  font-family: 'Montserrat', sans-serif; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

* {
  font-family: 'Montserrat', sans-serif; }

.logo {
  width: 100px;
  border-radius: 0.3rem; }

.navbar-nav {
  font-size: 20px; }

.navbar-collapse {
  margin-left: 50px; }

.navbar {
  background-color: #ecd718; }

body {
  background-color: #d8d8d8ef;
  position: relative;
  min-height: 100vh;
  padding-bottom: 180px; }

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px; }

.hero img {
  width: 800px; }

.sobreNosotros {
  margin: 0 20px;
  text-align: justify; }

.btn-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 63px;
  bottom: 25px;
  right: 25px;
  background: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease; }

.btn-wsp:hover {
  background: #20ba5a; }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .btn-wsp {
    width: 63px;
    height: 63px;
    line-height: 66px; } }

.main-pages h1 {
  text-align: center;
  margin-top: 20px; }

.main-container {
  margin-top: 40px;
  max-width: 1500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.main-info {
  display: flex;
  margin: 30px 0; }

.main-info img {
  width: 300px;
  border-radius: 5px; }

.text-main {
  margin-left: 20px; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #ecd718;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px; }
  footer p {
    color: black;
    /* rgba(255, 255, 255, 0.55);*/
    margin: 0; }
  footer div {
    display: flex;
    padding: 30px; }
    footer div svg {
      margin: 0 15px;
      color: black;
      transition: box-shadow 0.3seg ease; }
    footer div svg:hover {
      color: rgba(255, 255, 255, 0.75); }

@media (max-width: 510px) {
  .hero img {
    width: 400px; }
  .main-info {
    display: block; }
  .text-main {
    margin-left: 0px; } }
